html,
body {
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

#background-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 0;
}

#container {
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
    background-color: pink;
}

h1 {
    margin: 0;
    padding: 0;
}

nav {
    background: #272727;
    height: 10%;
    position: fixed;
    top: 1em;
    border: none;
    border-radius: 0%;
    z-index: 5;
}


/* Navbar animation stroke */


/* stroke */

.stroke ul li a,
nav.fill ul li a {
    position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
}

nav.stroke ul li a:hover:after {
    width: 100%;
}

nav.fill ul li a {
    transition: all 2s;
}

nav.fill ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}

nav.fill ul li a:hover {
    color: black;
    z-index: 1;
}

nav.fill ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
}


/* Keyframes */

@-webkit-keyframes fill {
    0% {
        width: 0%;
        height: 1px;
    }
    50% {
        width: 100%;
        height: 1px;
    }
    100% {
        width: 100%;
        height: 100%;
        background: white;
        color: black;
    }
}

a {
    color: white;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.column {
    flex-direction: column;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-container {
    margin-right: 40px;
}

.icon-container>* {
    margin-left: 1rem;
}

main {
    height: 100vh;
}

#index-middle-container>img {
    margin-top: 15%;
}

#play-button {
    position: absolute;
    top: 270px;
    cursor: pointer;
    z-index: 999;
}


/* hover effects */

#index-middle-logo {
    -webkit-transform: scale(1);
    transform: scale(1);
}

#index-middle-logo:hover {}

ol,
ul {
    margin-top: 0 !important;
}

.ul-icon {
    display: flex;
}

.ul-icon li {
    list-style: none;
    margin-top: 5%;
}

.ul-icon li a {
    width: 40px;
    height: 40px;
    background-color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}

.ul-icon li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}

.ul-icon li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

.ul-icon li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

.ul-icon li a:hover:before {
    top: 0;
}

.ul-icon li:nth-child(1) a:before {
    background: #3b5999;
}

.ul-icon li:nth-child(2) a:before {
    background: #55acee;
}

.ul-icon li:nth-child(3) a:before {
    background: #dd114e;
}

.ul-icon li:nth-child(4) a:before {
    background: #4b4545;
}


/* Movie Card */

.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 250px 170px 80px;
    grid-template-areas: "image""text""stats";
    border-radius: 18px;
    background: black;
    box-shadow: 5px 5px 15px rgba(252, 250, 250, 0.9);
    text-align: center;
}

.card-image {
    grid-area: image;
    overflow-y: hidden;
}

.card-text {
    grid-area: text;
}

.card-stats {
    grid-area: stats;
}

.card-image {
    grid-area: image;
    background: url("img1.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text {
    grid-area: text;
    margin: 25px;
}

.card-text .date {
    color: rgb(255, 7, 110);
    font-size: 13px;
}

.card-text p {
    color: grey;
    font-size: 15px;
    font-weight: 300;
}

.card-text h2 {
    margin-top: 0px;
    font-size: 28px;
}

.card-stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(0, 0, 0);
}

.card-stats {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 10px;
}

.stat {
    position: absolute;
    font-size: 24px;
    width: 300px;
    text-align: center;
    word-break: break-all;
    overflow-y: overlay;
    padding: 2rem;
}


/* Animation */

.card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.card {
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px;
}

#card-container {
    position: absolute;
    width: 100%;
    overflow: hidden;
}


/* arrow btn */

#btn-forward {
    position: fixed;
    right: 0%;
    top: 50%;
    font-size: 2rem;
    cursor: pointer;
}

#btn-previous {
    position: fixed;
    top: 50%;
    left: 0%;
    font-size: 2rem;
    cursor: pointer;
}

.song-image {
    margin-left: 5%;
    margin-top: 5%;
}

.song-container {
    margin-left: 5%;
    margin-top: 5%;
    width: 60%;
}

footer {
    position: absolute;
    margin: 0;
    padding-left: 1%;
    padding-right: 1%;
    height: 10rem;
    width: 100%;
    background: #272727;
    font-size: 12px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-left {
    width: 30%;
}

.footer-right {
    width: 30%;
}

.footer-message {
    margin-left: 3%;
}

.footer-message p:nth-child(1) {
    font-size: 18px;
}

.footer-message p:nth-child(2) {
    color: gray;
}

.footer-right>* {
    padding-left: 5%;
}


/* To fix the margin */

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    margin-top: 1% !important;
}

.page-link {
    color: white !important;
    background: black !important;
}

img {
    cursor: pointer;
}

.hide {
    display: none;
}
    .fadeIn {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: black;
    z-index: 4;
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
    animation-fill-mode: forwards;
    }
    @keyframes fadeIn {
    0% {}
    100% {
       
    background: black;
    display: none;
    width: 0%;
    }
}
    

